@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*primera medida para tablet*/
header {
  background-color: black;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 200px;
}

footer a {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 20px;
  text-decoration: none;
}

body {
  background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
  background-position: center;
}

.bannerImg {
  width: 100%;
}
.bannerImg img {
  width: 100%;
}

.video {
  display: flex;
  width: 100%;
  margin-bottom: 3em;
}
.video iframe {
  height: 80%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "font-family: 'Roboto', sans-serif";
  color: #D7AB6D;
}

.h2 {
  font-family: "font-family: 'Cinzel', serif";
  color: rgba(255, 255, 255, 0.7019607843);
}

.text-center p {
  color: rgba(255, 255, 255, 0.7019607843);
}

body {
  background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
  background-position: center;
}

/*Historia*/
.mainHistoria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .mainHistoria {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1080px) {
  .mainHistoria {
    flex-flow: wrap;
  }
}

.historiaTitulo {
  text-align: center;
  align-items: center;
  font-family: "font-family: 'Roboto', sans-serif";
  font-size: 2em;
  color: #D7AB6D;
  width: 100%;
  padding: 1.25rem;
  margin: 1rem auto;
}
.historiaTitulo h1 {
  font-family: "font-family: 'Roboto', sans-serif";
  color: #D7AB6D;
}
.historiaTitulo p {
  font-family: "font-family: 'Cinzel', serif";
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7019607843);
}

.historiaIframe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}
.historiaIframe iframe {
  width: 70%;
  margin: auto;
}

.encuentrosTitulo {
  text-align: center;
  align-items: center;
  font-family: "font-family: 'Roboto', sans-serif";
  font-size: 2em;
  color: #D7AB6D;
  width: 100%;
  margin: auto 1.5rem;
}

.boss {
  width: 460px;
  padding: 1.25rem;
  margin: 1rem auto;
}
.bossImg {
  width: 100%;
}
.bossImg img {
  width: 100%;
  margin: auto;
}
.bossInfo {
  padding: 1.25rem;
}
.bossInfo h3 {
  font-family: "font-family: 'Roboto', sans-serif";
  color: #D7AB6D;
}
.bossInfo p {
  font-family: "font-family: 'Cinzel', serif";
  color: rgba(255, 255, 255, 0.7019607843);
}

body {
  background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
  background-position: center;
}

/*html clases*/
.mainClases {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
@media screen and (min-width: 768px) {
  .mainClases {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1080px) {
  .mainClases {
    flex-flow: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .mainClases {
    flex-flow: wrap;
  }
}

.clasesTitulo {
  text-align: center;
  align-items: center;
  font-family: "font-family: 'Roboto', sans-serif";
  font-size: 2em;
  color: #D7AB6D;
  width: 100%;
}
.clasesTitulo h1 {
  font-family: "font-family: 'Roboto', sans-serif";
  color: #D7AB6D;
}
.clasesTitulo p {
  font-family: "font-family: 'Cinzel', serif";
  color: rgba(255, 255, 255, 0.7019607843);
}

.clases {
  width: 460px;
  padding: 1.25rem;
  margin: 1rem auto;
}
.clasesImg {
  width: 100%;
}
.clasesImg img {
  width: 100%;
  margin: auto;
}
.clasesInfo {
  padding: 1.25rem;
}
.clasesInfo h3 {
  font-family: "font-family: 'Roboto', sans-serif";
  color: #D7AB6D;
}
.clasesInfo p {
  font-family: "font-family: 'Cinzel', serif";
  color: rgba(255, 255, 255, 0.7019607843);
}

body {
  background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
  background-position: center;
}

/*comienza grilla de galeria*/
.gridGaleria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9";
  gap: 20px;
}
@media screen and (max-width: 576px) {
  .gridGaleria {
    grid-template-columns: 1fr;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9";
  }
}
@media screen and (min-width: 768px) {
  .gridGaleria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto9";
  }
}
@media screen and (min-width: 1080px) {
  .gridGaleria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9";
  }
}

.estiloFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.estiloFoto img {
  width: 90%;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

.foto7 {
  grid-area: foto7;
}

.foto8 {
  grid-area: foto8;
}

.foto9 {
  grid-area: foto9;
}

body {
  background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
  background-position: center;
}

.mainContacto {
  font-family: "font-family: 'Roboto', sans-serif";
  color: black;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  display: flex;
  min-height: 100vh;
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.formTitle {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.formParrafo {
  font-weight: 300;
}

.formLink {
  font-weight: 400;
  color: black;
}

.fomrContainer {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

.formGroup {
  color: rgba(87, 87, 87, 0.4941176471);
  position: relative;
}

.formInput {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(87, 87, 87, 0.4941176471);
  font-family: "font-family: 'Roboto', sans-serif";
}

.formInput:not(:-moz-placeholder-shown) + .formLabel {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.formInput:not(:-ms-input-placeholder) + .formLabel {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.formInput:focus + .formLabel,
.formInput:not(:placeholder-shown) + .formLabel {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.formLabel {
  color: rgba(87, 87, 87, 0.4941176471);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}

.formSubmit {
  background: #3866f2;
  color: white;
  font-family: "font-family: 'Cinzel', serif";
  font-weight: 300;
  font-size: 1rem;
  margin: 2rem;
  padding: 0.8em 4em;
  border: none;
  border-radius: 0.5em;
}

.formLine {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.formInput:not(:-moz-placeholder-shown) ~ .formLabel {
  transform: scale(1);
}

.formInput:not(:-ms-input-placeholder) ~ .formLabel {
  transform: scale(1);
}

.formInput:focus ~ .formLabel,
.formInput:not(:placeholder-shown) ~ .formLabel {
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */