@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Roboto:ital@0;1&display=swap');
$textos: "font-family: 'Cinzel', serif";
$titulo: "font-family: 'Roboto', sans-serif";
$colorTexto: #FFFFFFB3;
$colorTitulo: #D7AB6D;
