body{
    background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
    background-position: center;
}
/*html clases*/

.mainClases{
    @include flexColumn;
    @include tablet {
        flex-flow: wrap;
    }
    @include desktop {
        flex-flow: wrap;
    }
    @include desktop2 {
        flex-flow: wrap;
    }
}
.clasesTitulo {
    @include tituloHistoria1;
    width: 100%;
    & h1 {
        font-family: $titulo;
        color: $colorTitulo;
    }
    & p {
        font-family: $textos;
        color: $colorTexto;
    }
}

.clases{
    $padding-interno: 1.25rem;
    $width: 460px;
    width: $width;
    padding: $padding-interno;
    margin: 1rem auto;
    &Img {
        width: 100%;
        & img {
            width: 100%;
            margin: auto;
        }
    }
    &Info {
        padding: $padding-interno;
        & h3 {
            font-family: $titulo;
            color: $colorTitulo;
        }
        & p {
            font-family: $textos;
            color: $colorTexto;
        }
    }
}