body{
    background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
    background-position: center;
}
/*Historia*/

.mainHistoria {
    @include flexColumn;
    @include tablet {
        flex-flow: wrap;
    }
    @include desktop {
        flex-flow: wrap;
    }
}
.historiaTitulo {
    @include tituloHistoria1;
    $padding-interno: 1.25rem;
    $width: 100%;
    width: $width;
    padding: $padding-interno;
    margin: 1rem auto;
    & h1 {
        font-family: $titulo;
        color: $colorTitulo;
    }
    & p {
        font-family: $textos;
        font-size: 2rem;
        color: $colorTexto;
    }
}
.historiaIframe {
    @include flexColumn;
    width: 100%;
    & iframe {
        width: 70%;
        margin: auto;
    }
}
.encuentrosTitulo {
    @include tituloHistoria1;
    width: 100%;
    margin: auto 1.5rem;
}

.boss{
    $padding-interno: 1.25rem;
    $width: 460px;
    width: $width;
    padding: $padding-interno;
    margin: 1rem auto;
    &Img {
        width: 100%;
        & img {
            width: 100%;
            margin: auto;
        }
    }
    &Info {
        padding: $padding-interno;
        & h3 {
            font-family: $titulo;
            color: $colorTitulo;
        }
        & p {
            font-family: $textos;
            color: $colorTexto;
        }
    }
}



/*    grid-area: tituloH;
    text-align: center;
    align-items: center;
    font-family: $titulo;
    font-size: 20px;
    color: $colorTitulo;





    text-align: center;
    align-items: center;
    font-family: $textos;
    font-size: 26px;
    color: $colorTexto;


    display: flex;

    margin-top: 10px;
    margin-left: 30%;
    width: 40%;
    height: 60%;/*


/*.encuentros{
    grid-area: encuentros;
    text-align: center;
    align-items: center;
    font-family: $titulo;
    font-size: 20px;
    color: $colorTitulo;
}
section div p{
        text-align: center;
    align-items: center;
    font-family: $textos;
    font-size: 26px;
    color: $colorTexto;
}
*/