body{
    background-image: url(../img/Stone-Relief-BG_Desktop_2600.jpg);
    background-position: center;
}

.bannerImg{
    width: 100%;
    & img {
        width: 100%;
    }
}
h1{
    font-family: $titulo;
    color: $colorTitulo;
}
.h2{
    font-family: $textos;
    color: $colorTexto;
}
.text-center{
    & p {
        color: $colorTexto;
    }
}