/*primera medida para tablet*/
@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: 1080px) {
        @content;
    }
}
@mixin desktop2 {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@media screen and (max-width: 768px){

    /*index*/
    .grilla{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "header header"
        "banner banner"
        "titulo titulo"
        "subtitulo subtitulo"
        "texto video"
        "footer footer";
        }

        .menuheader ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


}
/*segunda medida para mobile pequeños*/
@media screen and (min-width: 576px){
    .grilla{
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-areas: 
        "header"
        "banner"
        "titulo"
        "subtitulo"
        "texto"
        "video"
        "footer";
        }

        .video{
            grid-area: video;
            justify-content: center;
            align-items: center;
        }

}